
body{
margin:0;
font-family:Arial;
}

#map{
height:100%;
width:100%;
}

#alertList{
max-height:200px;
overflow:auto;
}

button{
width:100%;
margin-bottom:8px;
padding:6px;
cursor:pointer;
}
#playbackControl {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background: rgba(0,0,0,0.8);
    padding: 12px;
    border-radius: 12px;
    z-index: 1000;
    display: none;
}

/* ✅ FORCE HORIZONTAL */
#timeSlider {
    flex: 1;
    height: 6px;
    appearance: none;
    background: #ccc;
    border-radius: 5px;
    outline: none;
}

/* Slider thumb (circle) */
#timeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: #00ffcc;
    border-radius: 50%;
    cursor: pointer;
}

#timeSlider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #00ffcc;
    border-radius: 50%;
    cursor: pointer;
}

#timeLabel {
    color: white;
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}
#playToggleBtn {
    width: 36px;
    height: 36px;
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
#playbackRow {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Speed slider container */
#speedContainer {
    display: flex;
    align-items: center;
    flex: 1; /* takes 1/3 of row if timeSlider is flex:2 */
    gap: 5px;
}

/* Speed slider itself */
#speedSlider {
    flex: 1; /* fill available space in container */
    height: 6px;
    appearance: none;
    background: #ccc;
    border-radius: 5px;
    outline: none;
}

/* Thumb for speed slider */
#speedSlider::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: #ffcc00;
    border-radius: 50%;
    cursor: pointer;
}

#speedSlider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #ffcc00;
    border-radius: 50%;
    cursor: pointer;
}

/* Speed label */
#speedLabel {
    width: 40px;
    color: white;
    text-align: center;
    font-size: 13px;
}

    .cards {
      display: flex;
      gap: 20px;
    }

    .card {
      background: #1e293b;
      padding: 20px;
      border-radius: 10px;
      flex: 1;
    }

    canvas {
      margin-top: 30px;
      background: white;
      border-radius: 10px;
      padding: 10px;
    }
    .filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.filters select,
.filters input {
  padding: 5px;
}